<div class="image-form">
  <%= form_for @image do |f| %>
  <div class="field">
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
  </div>
  <div class="field">
    <p>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </p>
  </div>
  <div class="field">
    <p id="upload">
      <%= f.label :picture %>
      <%= f.file_field :picture %>
    </p>
  </div>
  <div class="actions">
    <%= f.submit :Upload %>
  </div>
  <% end %>
</div>
