<div class="container" style="padding:5px;">
  <div class="jumbotron" id="image-comments" style="padding:5px;">
    <h2>Trending</h2>

    <div class="trending-images" style="text-align:center;">
      <% if @images.any? %>
        <% @images.each do | image | %>
        <div class="images">
          <h2 id="image-title">
            <%= link_to image.title, image_path(image) %>
          </h2>
          <div id="image">
            <%= image_tag image.picture.url(:medium), style: "border:1px solid;padding:1px;border-radius:5%;" %>
          </div>
          <h3 class="image-description">
            <%= image.description %>
          </h3>
          <h3>
            <%= image.endorsements.count %><span class="glyphicon glyphicon-thumbs-up"></span>
          </h3>
          <h4>
            <%= link_to "Endorse Image", image_endorsements_path(image), method: :post, id: "endorse_#{image.id}" %>
          </h4>
          <h4 class="comments">
            <p>
              <%= render "shared/comments", :image => image %>
              <%= render "shared/comments_form", :image => image %>
            </p>
          </h4>
        </div>
        <% end %>
      <% else %>
        <%= "No pictures have been uploaded yet!" %>
      <% end %>
      <p>
        <hr id="line"/>
      </p>
    </div>
  </div>
</div>
