<h2>Your Images</h2>
<%= link_to "Upload an image", new_image_path %>

<div class="images">
  <% if @images.any? %>
    <% @images.each do |image| %>
      <h2 class="image-title">
        <%= link_to image.title, image_path(image) %>
      </h2>
      <div class="picture">
        <%= image_tag image.picture.url(:medium) %>
      </div>
      <h3 class="image-description">
        <%= image.description %>
      </h3>
      <h3>
        <%= pluralize image.endorsements.count, "endorsements" %>
      </h3>
      <h4>
        <%= link_to "Edit #{image.title}", edit_image_path(image) %>
        <%= link_to "Delete #{image.title}", image_path(image), method: :delete %>
      </h4>
    <% end %>
  <% else %>
    <h1>No images yet!</h1>
  <% end %>
</div>
