<!DOCTYPE html>
<html>
<head>
  <title>Miaowster</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="main-body">
  <div class="navbar navbar-default navbar-static-top" id="nav-color">
    <div class="container">

      <div class="navbar-brand" id="nav-title">Miaowster</div>

      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        <div class="collapse navbar-collapse navHeaderCollapse">

          <ul class="nav navbar-nav navbar-right">

            <% if user_signed_in? %>
              <li><%= link_to "Trending", home_index_path %></li>
              <li><%= link_to "Your images", images_path %></li>
              <li><%= link_to "Upload an image", new_image_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% end %>

          </ul>

        </div>
      </div>

    </div>
  </div>

  <p class="alert"><%= alert %></p>

  <%= notice %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
