<!DOCTYPE html>
<html>
<head>
  <title>Miaowster</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h4 class="signed-in-navbar">
    <% if user_signed_in? %>
      <%= link_to "Trending", home_index_path %>
      <%= link_to "Your images", images_path %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% end %>
  </h4>

  <h1 id="title">Miaowster</h1>

  <p class="alert"><%= alert %></p>

  <%= notice %>
  <%= yield %>

</body>
</html>
